<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/common.css">
<!--    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">-->
    <link rel="icon" href="/static/img/4388342.png" type="image/x-icon">
    <title>BTS Authentication</title>

</head>
<body>
    <form name="form" method="POST" class="center_frame">
<!--        <p class="fa fa-address-card-o fa-lg" aria-hidden="true"></p>-->
        <img class="fit-picture" src="/static/img/928625-200.png">
        <p>
            <input type="text" id="user_id" name="user_name" placeholder="логин">
        </p>
        <p>
            <input type="password" name="user_password" placeholder="пароль">
        </p>
        <p>
            <button type="submit" name="btn_submit" value="submit" class="sub_button">ВОЙТИ</button>
        </p>
    </form>
</body>
</html>